<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cashier App</title>
    <!-- Link to Bootstrap CSS & Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <!-- Link to internal CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <main class="container">
        <div class="row">
            <section class="col">
                <h1 class="text-center">Daftar Menu</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nama</th>
                            <th scope="col">Harga</th>
                            <th scope="col">Jumlah Porsi</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for( let index=0; index < menu.length; index++ ) { %>
                            <tr>
                                <th scope="row">
                                    <%= menu[index].id %>
                                </th>
                                <td>
                                    <%= menu[index].name %>
                                </td>
                                <td>
                                    <%= menu[index].price %>
                                </td>
                                <td>
                                    <%= menu[index].quantity %>
                                </td>
                                <td>
                                    <a href="/delete/<%= menu[index].id %>"><i class="bi bi-trash"></i></a>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </section>
            <section class="col">
                <h1 class="text-center">Tambah Menu</h1>
                <form action="/add" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nama</label>
                        <input type="text" class="form-control" id="name" placeholder="Nama Menu">
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Harga</label>
                        <div class="input-group">
                            <span class="input-group-text" id="price">Rp.</span>
                            <input type="number" class="form-control" id="price" placeholder="Harga Menu">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="quantity" class="form-label">Jumlah Porsi</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="quantity" placeholder="Jumlah Porsi">
                            <span class="input-group-text" id="quantity">Porsi</span>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Tambah Menu</button>
                </form>
            </section>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>